@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: "Poppins";
    color: #333333;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.essai {
    display: flex;
    flex-direction: column;
    flex: 1;
}

footer {
    background-color: #f1f1f1;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}

@keyframes appear {
    from{
        opacity: 0;
        scale:0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


@keyframes appearleft {
    from{
        opacity: 0;
        transform: translateX(300px); /* Start 100px to the left */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* End at the original position */
    }
}

.block2 {
    animation: appearleft linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
