.footer-container {
  display: flex;
  height: 300px;
  background-color: #9771e8;
  margin-top: 20px; /* Adjust the margin-top value as needed */
}

.footer-item {
  flex: 1;
  display: flex;
  flex-direction: column; /* Set flex direction to column */
  align-items: center; /* Align items to the left */
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
  padding: 10px; /* Add padding for better spacing */
}

.footer-item p {
  margin: 0; /* Remove default margin for paragraphs */
  text-align: left; /* Left-justify the text within paragraphs */
  font-weight: normal; /* Set font weight to normal for regular text */
}

.footer-item p:first-child {
  font-weight: bold; /* Set font weight to bold for the first paragraph */
}

.footer-item img {
  transition: fill 0.3s ease-in-out; /* Add a transition for a smooth effect */
}

.footer-item:hover img {
  fill: #5113a2;
}